@import "_variables.scss";

/* Reset */

* {
	font-family: $body-font;
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

ul,
ol {
	list-style-type: none;
}

a {
	text-decoration: none;
}
