/* Variables */

/* Fonts */

$body-font: "Roboto", sans-serif;
$title-font: "Shrikhand", cursive;

$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;

/* Colors */

$black-color: black;
$black2-color: #101010;
$grey-color: #353535;
$greytint4-color: #7e7e7e;
$grey2-color: #eaeaea;
$background-color: #f6f6f6;
$white-color: white;

$primary-color: #9356dc;

$button-gradient: linear-gradient(175deg, rgba(251, 62, 198, 1) 0%, rgba(147, 86, 220, 1) 100%);

$green-color: #99e2d0;
$green-font-color: #008766;

/* Breakpoints */

$min-page-width: 375px;

$desktop-breakpoint-width: 1080px;
/* Desktop breakpoint including 20px of left and 20px of right margins */
$desktop-breakpoint-with-margins-width: 20px + $desktop-breakpoint-width + 20px;
