/* Variables */
/* Fonts */
/* Colors */
/* Breakpoints */
/* Desktop breakpoint including 20px of left and 20px of right margins */
/* Page appearing animation */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
.page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation-name: animate-page-appearing;
  animation-duration: 3000ms;
  animation-fill-mode: both;
  animation-timing-function: linear;
  z-index: 1;
}
.page-loader .page-loader__icon {
  animation-name: icon-rotation;
  animation-duration: 3000ms;
  animation-fill-mode: both;
  width: 50px;
}

@keyframes animate-page-appearing {
  0% {
    opacity: 1;
    z-index: 999;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes icon-rotation {
  0% {
    transform: translateX(-100px) rotate(-45deg) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) rotate(0deg) scale(3);
    opacity: 1;
  }
}
/* Variables */
/* Fonts */
/* Colors */
/* Breakpoints */
/* Desktop breakpoint including 20px of left and 20px of right margins */
/* Like clicking animation */
.like {
  position: relative;
}
.like .like__off,
.like .like__on {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -11px;
  transition-property: opacity;
  transition-duration: 500ms;
}
.like .like__off {
  opacity: 1;
}
.like .like__on {
  opacity: 0;
}
.like:hover .like__off, .like:focus .like__off {
  opacity: 0;
}
.like:hover .like__on, .like:focus .like__on {
  opacity: 1;
}
.like--liked .like__off {
  opacity: 0;
}
.like--liked .like__on {
  opacity: 1;
}
.like--liked:hover .like__off, .like--liked:focus .like__off {
  opacity: 1;
}
.like--liked:hover .like__on, .like--liked:focus .like__on {
  opacity: 0;
}

/* Button hoverable animation */
.button {
  transition-property: transform, opacity;
  transition-duration: 200ms;
  transform: translate(0, 0);
  opacity: 1;
}
.button:hover {
  background: linear-gradient(175deg, rgb(251, 62, 198) 0%, rgb(147, 86, 220) 100%) !important;
  transform: translate(2px, 2px);
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/* Variables */
/* Fonts */
/* Colors */
/* Breakpoints */
/* Desktop breakpoint including 20px of left and 20px of right margins */
/* External fonts */
/* Variables */
/* Fonts */
/* Colors */
/* Breakpoints */
/* Desktop breakpoint including 20px of left and 20px of right margins */
/* Reset */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Variables */
/* Fonts */
/* Colors */
/* Breakpoints */
/* Desktop breakpoint including 20px of left and 20px of right margins */
body {
  background-color: #f6f6f6;
}

.page {
  min-width: 375px;
  position: relative;
  z-index: 2;
}

/* Variables */
/* Fonts */
/* Colors */
/* Breakpoints */
/* Desktop breakpoint including 20px of left and 20px of right margins */
/* Header module */
.header {
  display: flex;
  flex-direction: row;
  height: 63px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  /* When only a child (the logo on the Home) */
}
.header nav a, .header__last {
  display: inline-block;
  width: 55px;
  padding: 17px;
}
.header nav a {
  color: black;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.875rem;
  font-weight: 400;
  color: #101010;
  padding-top: 6px;
}
.header__last {
  /* This element exists to make the logo centered */
  visibility: hidden;
}
.header > *:only-child {
  margin: auto;
}

/* Variables */
/* Fonts */
/* Colors */
/* Breakpoints */
/* Desktop breakpoint including 20px of left and 20px of right margins */
/* Button module */
.button {
  display: inline-block;
  border-radius: 25px;
  background: linear-gradient(175deg, rgb(251, 62, 198) 0%, rgb(147, 86, 220) 100%);
  color: white;
  background: linear-gradient(175deg, rgb(251, 62, 198) 0%, rgb(147, 86, 220) 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  padding: 13px 18px 13px 18px;
  text-align: center;
}

/* Variables */
/* Fonts */
/* Colors */
/* Breakpoints */
/* Desktop breakpoint including 20px of left and 20px of right margins */
/* Like module */
.like {
  display: inline-block;
  width: 22px;
  height: 21px;
  cursor: pointer;
}

/* Variables */
/* Fonts */
/* Colors */
/* Breakpoints */
/* Desktop breakpoint including 20px of left and 20px of right margins */
/* Variables */
/* Fonts */
/* Colors */
/* Breakpoints */
/* Desktop breakpoint including 20px of left and 20px of right margins */
/* Badge module */
.badge {
  display: inline-block;
  background-color: #99e2d0;
  color: #008766;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  padding: 7px 9px 7px 9px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

/* Enriched card module */
.enriched-card {
  display: flex;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.enriched-card__link {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.enriched-card__badge {
  position: absolute;
  top: 13px;
  right: 12px;
}
.enriched-card__photo {
  display: flex;
  height: 174px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.enriched-card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 70px 16px 13px;
}
.enriched-card__content h3 {
  display: flex;
  font-size: 1.125rem;
  font-weight: 700;
  color: black;
  padding-bottom: 5px;
}
.enriched-card__content span {
  display: flex;
  font-size: 1.063rem;
  font-weight: 300;
  color: black;
}
.enriched-card__like {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 25px 33px 25px; /* Large clickable area */
  box-sizing: content-box;
}

/* Variables */
/* Fonts */
/* Colors */
/* Breakpoints */
/* Desktop breakpoint including 20px of left and 20px of right margins */
/* Footer module */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px 22px 25px;
}
@media screen and (min-width: 1120px) {
  .footer {
    flex-direction: row-reverse;
    padding: 64px 50px 30px 30px;
  }
}
.footer__logo {
  width: 139px;
  height: 27px;
  filter: invert(100%); /* Switch from black to white color */
}
@media screen and (min-width: 1120px) {
  .footer__logo {
    width: 108px;
    height: 20.9784172662px;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 7px;
}
@media screen and (min-width: 1120px) {
  .footer__links {
    flex-direction: row;
    margin-top: 0;
  }
  .footer__links :nth-of-type(2) {
    margin-right: 40px;
  }
  .footer__links :nth-of-type(4) {
    margin-right: 80px;
  }
}
.footer__links a {
  color: white;
  font-size: 1rem;
}
.footer__links a i {
  width: 22px;
}

/* Home page */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 0 17px 0;
  background-color: #eaeaea;
}
.location__icon {
  color: #353535;
}
.location__text {
  padding-left: 17px;
  font-weight: 500;
  color: #353535;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px 60px 20px;
}
@media screen and (min-width: 1120px) {
  .title {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.title h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.title p {
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 30px;
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 70px 20px;
  gap: 26px;
  background-color: white;
}
@media screen and (min-width: 1120px) {
  .steps {
    padding-bottom: 50px;
  }
}
.steps > * {
  width: 100%;
  max-width: 1080px;
  margin: auto;
}
.steps h2 {
  font-size: 1.5em;
  font-weight: 700;
  padding-bottom: 2px;
}
.steps__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 1120px) {
  .steps__list {
    flex-direction: row;
  }
}

.step {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-left: 12px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 24px 0 24px 0;
}
@media screen and (min-width: 1120px) {
  .step {
    width: 33%;
  }
}
.step > * {
  position: relative;
  left: -12px;
}
.step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: white;
  background-color: #9356dc;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  top: 3px;
}
.step__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  color: #7e7e7e;
}
.step__icon--primary {
  color: #9356dc;
}
.step__text {
  font-weight: 500;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 54px 20px 66px 20px;
  gap: 18px;
  width: 100%;
  max-width: 1120px;
  margin: auto;
}
@media screen and (min-width: 1120px) {
  .restaurants {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.restaurants h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 2px;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 1120px) {
  .restaurants__list {
    column-gap: 100px;
    row-gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1120px) {
  .restaurants__list .enriched-card {
    /* Have two columns with only a visible gap in the middle */
    min-width: calc(50% - 50px);
  }
}
